body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

.container div {
    margin: 20px;
    width: 200px;
    height: 200px;
}

